.dicicality-level-container {
  position: fixed;
  bottom: 50%;
  left: 50%;
  max-width: 600px;
  transform: translate(-50%);
  margin: 10px 0;
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  gap: 10px;
}
.dicicality-level-container div {
  width: 100%;
}
.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#questions-count {
  width: 100%;
  border-radius: 10px;
  padding: 1em;
  background-color: transparent;
  border: 1px solid var(--main-color);
}

.dificality {
  width: 100%;
}

#start {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 600px;
}
