:root {
  --background: #f6f0ff;
  --them: #6219ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.3s;
  border: 0;
  outline: 0;
}

body {
  max-width: 600px;
  background-color: var(--background);
  color: var(--them);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.container {
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}
a,
button {
  cursor: pointer;
  color: var(--them);
  padding: 1em;
  width: 10em;
  background-color: #fff;
  border-radius: 15px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  /* width: 100%; */
  margin-top: 1em;
  padding: 1em;
  border: 1px solid var(--them);
  border-radius: 15px;
  background-color: transparent;
  color: var(--them);
}

a:hover,
button:hover {
  background-color: var(--them);
  color: #fff;
}
/* loading  */

#game {
  display: none;
  width: 100%;
}
