:root {
  --background-color: #170d34;
  --main-color: #6600ff;
  --text-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  color: var(--text-color);
}

button {
  border-radius: 15px;
  padding: 1em;
  background-color: transparent;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-weight: 900;
  cursor: pointer;
}

body {
  background-color: var(--background-color);
  max-width: 600px;
  margin: 0 auto;
  height: 100vh;
}

.selected {
  background-color: var(--main-color);
  color: var(--text-color);
}

.first-page-header {
  padding: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-page-button {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 600px;
}
.first-page-button * {
  width: 100%;
}

.first-page-button button {
  margin-bottom: 10px;
}
